/* Zepol's Portfolio Style */
body{
    Width: 99%;
    margin: 0;
    background-color: whitesmoke;
}
h1{
    color:rgb(224, 130, 14);
    text-align: center;
}
a {
    color: #0b6480;
}

/*******************************************/
/* Custom Classes and IDs                  */
/*******************************************/
.NavBar{
    background: #333;
    width: 100%;
    /*position: fixed;*/
    overflow: hidden;
    top: 0px;
}
    .NavBar a{
        color: whitesmoke;
        text-decoration: none;
        padding: 14px 16px;
        text-align: center;
        display: block;
        float: left;
        font-size: 17px;
    }
    .NavBar a:hover{
        background: #ddd;
        color: #000;
    }
    .RightTopLinks a.active{
        float: left;
    }
    .RightTopLinks a{
        float: right;
    }
    /* Hide the link that should open and close the topnav on small screens */
    .RightTopLinks .icon {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .RightTopLinks a:not(:first-child) {display: none;}
        .RightTopLinks a.icon {
          float: right;
          display: block;
        }
    }
      
      
      @media screen and (max-width: 600px) {
        .RightTopLinks.responsive {position: relative;}
        .RightTopLinks.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .RightTopLinks.responsive a {
            float: none;
            display: block;
            text-align: left;
          }
    }

.PageContent{
    width: 90%;
    min-height: 300px;;
    border:#ddd solid 2px;
    margin: 0px auto;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 48%;
        padding: 10px;
    }
    
    /* Clear floats after the columns */
    .row::after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width:600px) {
            .column {
            width: 100%;
            }
        }
    
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0b6480;
    color: whitesmoke;
    text-align: center;
    }